<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script>
        $(function(){
            $("#navigation").load("/static/include/navigation.html");
            $("#footer").load("/static/include/footer.html");
        });
    </script>
    <script src="/static/include/css.js"></script>
    <title>Welcome to your Group!</title>
</head>
<body>
    <div id="navigation" class="navigation"></div>
    <div class="header">
        <div class="titleWrapper">User Home</div>
    </div>
    <div class="main">
        <div class="contentWrapper">
             <p th:text="'Welcome to Group ' + ${groupID} + '!'" />
             <div class="UserList">
                 <h4>Member list: </h4>
                 <table>
                     <tr th:each="member,iterationStatus : ${members}">
                         <td th:text="${iterationStatus.count}"></td>
                         <td th:text="${member.getUsername()}"></td>
                     </tr>
                 </table>
             </div>
             <div th:if="${userState == 'admin'}">
                 <h5> Add User: </h5>
                 <form name="f" th:action="@{/addUserToGroup}" method="post">
                     <fieldset>
                         <p th:text="${errorMessage}" />
                         <input type="hidden" name="groupID" th:value="${groupID}"/>
                         <label for="userName">UserName</label>
                         <input type="text" id="userName" name="userName"/>
                         <div class="form-actions">
                             <button type="submit" class="btn">Add User</button>
                         </div>
                     </fieldset>
                 </form>
             </div>
             <div class="groupComments">
                 <h3> Comments: </h3>
                 <div class="addGroupComment">
                     <form id="createComment" name="c" th:action="@{/addComment}" method="post">
                         <fieldset>
                             <input type="hidden" name="groupID" th:value="${groupID}"/>
                             <label for="commentTitle">Title</label>
                             <input type="text" id="commentTitle" name="commentTitle"/>
                             <textarea form ="createComment" name="commentContent" id="commentContent" cols="35" wrap="soft"></textarea>
                             <div class="form-actions">
                                 <button type="submit" class="btn">Add Comment</button>
                             </div>
                         </fieldset>
                     </form>
                 </div>
                 <table>
                     <tr th:each="comment,iterationStatus : ${comments}">
                         <td th:text="${iterationStatus.count}"></td>
                         <td th:text="${comment.getTitle()}"></td>
                         <td th:text="${comment.getAuthor().getUsername()}"></td>
                         <td th:text="${comment.getContent()}"></td>
                     </tr>
                 </table>
             </div>
            <div>
                <br />
                <br />
                <br />
            </div>
        </div>
    </div>
    <div id="footer" class="footerWrapper"></div>
</body>
</html>