<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script>
        $(function(){
            $("#navigation").load("/static/include/navigation.html");
            $("#footer").load("/static/include/footer.html");
        });
    </script>
    <script src="/static/include/css.js"></script>
    <title>Welcome to your Group!</title>
</head>
<body>
    <div id="navigation" class="navigation"></div>
    <div class="header">
        <div class="titleWrapper" th:text="'Welcome to Group ' + ${groupID} + '!'"></div>
    </div>
    <div class="main">
        <div class="contentWrapper">
             <div class="UserList">
                 <h4>Member list: </h4>
                 <table>
                     <tr th:each="member,iterationStatus : ${members}">
                         <td th:text="${iterationStatus.count}"></td>
                         <td th:text="${member.getUsername()}"></td>
                         <td th:if="${userState == 'admin' and group.getAdminUser().getUsername() != member.getUsername()}">
                             <form th:action="@{/removeUserFromGroup}" method="post">
                                 <input type="hidden" name="userName" th:value="${member.getUsername()}"/>
                                 <input type="hidden" name="groupID" th:value="${groupID}"/>
                                 <input type="submit" class="btn" value="Kick" />
                             </form>
                         </td>
                         <td th:if="${currentUser.getUsername() == member.getUsername()}">
                             <form th:action="@{/removeUserFromGroup}" method="post">
                                 <input type="hidden" name="userName" th:value="${member.getUsername()}"/>
                                 <input type="hidden" name="groupID" th:value="${groupID}"/>
                                 <input type="submit" class="btn" value="Leave" />
                             </form>
                         </td>
                     </tr>
                 </table>
             </div>
             <div th:if="${userState == 'admin'}">
                 <h5> Add User: </h5>
                 <form name="f" th:action="@{/addUserToGroup}" method="post">
                     <fieldset>
                         <p th:text="${errorMessage}" />
                         <input type="hidden" name="groupID" th:value="${groupID}"/>
                         <label for="userName">UserName</label>
                         <input type="text" id="userName" name="userName"/>
                         <div class="form-actions">
                             <input type="submit" class="btn" value="Add User" />
                         </div>
                     </fieldset>
                 </form>
             </div>
             <div class="groupComments">
                 <h3> Comments: </h3>
                 <div class="addGroupComment">
                     <form id="createComment" name="c" th:action="@{/addComment}" method="post">
                         <fieldset>
                             <input type="hidden" name="groupID" th:value="${groupID}"/>
                             <input type="text" placeholder="Title" name="commentTitle"/>
                             <textarea form ="createComment" placeholder="Content" name="commentContent" cols="35" wrap="soft"></textarea>
                             <div class="form-actions">
                                 <input type="submit" class="btn" value="Add Comment" />
                             </div>
                         </fieldset>
                     </form>
                 </div>
                 <div class="commentList" th:with="currentComment=${comments}">
                     <div th:fragment="subComment" th:remove="tag">
                         <ul>
                             <li th:each="comment : ${currentComment.getSubComments()}">
                                 <div class="commentBox">
                                     <div class="comment">
                                         <span th:text="${comment.getTitle()}"></span>
                                         <span th:text="${comment.getAuthor().getUsername()}"></span>
                                         <span th:text="${comment.getContent()}"></span>
                                         <div class="addCommentComment">
                                             <form th:id="'createCommentComment' + ${comment.getCommentID()}" name="c" th:action="@{/addComment}" method="post">
                                                 <fieldset>
                                                     <input type="hidden" name="groupID" th:value="${groupID}"/>
                                                     <input type="hidden" name="commentParentID" th:value="${comment.getCommentID()}"/>
                                                     <input type="text" placeholder="Title" name="commentTitle"/>
                                                     <textarea th:form ="'createCommentComment' + ${comment.getCommentID()}" placeholder="Content" name="commentContent" cols="35" wrap="soft"></textarea>
                                                     <div class="form-actions">
                                                         <input type="submit" class="btn" value="Add Comment" />
                                                     </div>
                                                 </fieldset>
                                             </form>
                                         </div>
                                     </div>
                                    <div th:with="currentComment = ${comment}" th:include="::subComment" th:remove="tag"></div>
                                </div>
                             </li>
                         </ul>
                     </div>
                 </div>
                 <div>
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                 </div>
             </div>
        </div>
    </div>
    <div id="footer" class="footerWrapper"></div>
</body>
</html>