<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script>
        $(function(){
            $("#navigation").load("/static/include/navigation.html");
            $("#footer").load("/static/include/footer.html");
        });
    </script>
    <script src="/static/include/css.js"></script>
    <title>Group List</title>
</head>
<body>
    <div id="navigation" class="navigation"></div>
    <div class="header">
        <div class="titleWrapper">Group List</div>
    </div>
    <div class="main">
        <div class="contentWrapper">
            <div class="GroupCreate">
                <form name="f" th:action="@{/groupCreate}" method="post">
                    <fieldset>
                        <label for="groupName">Groupname</label>
                        <input type="text" id="groupName" name="groupName"/>
                        <div class="form-actions">
                            <input type="submit" class="btn" value="Create Group" />
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="GroupList">
                <h3>You are member of the following groups: </h3>
                <table>
                    <tr th:each="group,iterationStatus : ${groupIDs}">
                        <td th:text="${iterationStatus.count}"></td>
                        <td><a th:href="'/group?groupID='+${group.getId()}"><p th:text="${group.getName()}" /></a></td>
                        <td th:text="${group.getTopic()}"></td>
                    </tr>
                </table>
            </div>
            <div class="LobbyList">
                <h4>Lobby list: </h4>
                <table>
                    <tr th:each="lobby,iterationStatus : ${lobbies}">
                        <td th:text="${iterationStatus.count}"></td>
                        <td th:text="${lobby.getAdminUser().getUsername()}"></td>
                        <td><a th:href="'/lobby?lobbyID='+${lobby.getID()}">Enter</a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div id="footer" class="footerWrapper"></div>
</body>
</html>