<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script>
        $(function(){
            $("#navigation").load("/static/include/navigation.html");
            $("#footer").load("/static/include/footer.html");
        });
    </script>
    <script src="/static/include/css.js"></script>
    <title>User List</title>
</head>
<body>
    <div id="navigation" class="navigation"></div>
    <div class="header">
        <div class="titleWrapper">User List</div>
    </div>
    <div class="main">
        <div class="contentWrapper">
            <div class="UserFeed">
                <h3>Registered Users: </h3>
                <table class="InformationList">
                    <tr>
                        <td>Ranking Points</td>
                        <td>Username</td>
                        <td>First Name</td>
                        <td>Last Name</td>
                    </tr>
                    <tr th:each="user : ${Users}">
                        <td><p th:text="${user.getRankingPoints()}" /></td>
                        <td><a th:href="'/user?userName='+${user.getUsername()}"><p th:text="${user.getUsername()}" /></a></td>
                        <td><p th:text="${user.getFirstName()}" /></td>
                        <td><p th:text="${user.getLastName()}" /></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div id="footer" class="footerWrapper"></div>
</body>
</html>